<footer>
	<div class="row">
		<div class="col-lg-12">
			<ul class="list-unstyled">
				<li class="pull-right">
					<a href="#top"> 
						<i class="glyphicon glyphicon-arrow-up"></i> Back to Top
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-google-plus-official" aria-hidden="true"></i> Google
					</a>
				</li>
			</ul>
			<p>Copyright &copy; 2016 <a href="#" rel="nofollow"> steamjs.com </a>. All rights reserved.</p>
			{{!-- <p>Powered by <a href="{{developerUrl}}" rel="nofollow"> {{developer}} </a></p> --}}
		</div>
	</div>
</footer>
