{{> meta}}
{{#if pageInfo.title}}
	<title>{{pageInfo.title}}</title>
{{/if}}

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/assets/favicon.png" type="image/png">

{{> styles}}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
	<script src="../bower_components/respond/dest/respond.min.js"></script>
<![endif]-->