<div class="bg"></div>
<div class="jumbotron">
	<div class="steam_signin_blue_btn">
		<a href="#">
			<img src="static/assets/images/steam_signin_blue.png" />
		</a>
	</div>
	{{!--
	<h1>Welcome to SteanJS</h1>
	<p class="lead"> + Parallax</p> 
	--}}
</div>